<ion-header>
  <ion-navbar>
    <img src="../../assets/icon/favicon.ico" />
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row align-items-center justify-content-center style="height: 100%">
    <ion-col col-10>
      <form [formGroup]="form" (ngSubmit)="cadastrar()">
        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input type="text" name="nome" formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Telefone</ion-label>
          <ion-input type="text" name="telefone" formControlName="telefone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Celular</ion-label>
          <ion-input type="text" name="celular" formControlName="celular"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" name="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" name="senha" formControlName="senha"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Confirme a Senha</ion-label>
          <ion-input type="password" name="confSenha" formControlName="confSenha"></ion-input>
        </ion-item>
        <br>
        <div padding>

          <button ion-button type="submit" block color="secondary">Cadastrar</button>
        </div>
      </form>
    </ion-col>
  </ion-row>

</ion-content>