<!--<ion-header>-->
<!--  <ion-navbar>-->
<!--    <ion-title></ion-title>-->
<!--  </ion-navbar>-->
<!--</ion-header>-->

<ion-content>
  <ion-row align-items-center justify-content-center style="height: 100%">
    <ion-col col-10>

      <img src="../../assets/imgs/logoArthur.gif" />

      <form [formGroup]="form" (submit)="SingIn()">

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
        <br>
        <div padding>

          <button ion-button type="submit" block color="secondary">Login</button>
          <hr>
          <button ion-button block color="secondary" (click)="SingUp()">Cadastre-se</button>
        </div>

      </form>
    </ion-col>
  </ion-row>
</ion-content>