<ion-header>
  <ion-navbar>
      <img src="../../assets/icon/favicon.ico" />
    <ion-title>{{payload.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form">

    <section *ngFor="let questao of questoes">

      <ion-list radio-group *ngIf="questao['tipo'] == 'radio'" formControlName="{{questao['tipo']+questao['ID']}}">
        <ion-list-header text-wrap>{{questao['pergunta']}}</ion-list-header>
        <section *ngFor="let alternativa of questao['alternativas']">
          <ion-item text-wrap>
            <ion-label>{{alternativa["nome"]}}</ion-label>
            <ion-radio value="{{alternativa['ID']}}"></ion-radio>
          </ion-item>
        </section>
      </ion-list>

      <ion-list *ngIf="questao['tipo'] == 'checkbox'">
        <ion-list-header text-wrap>{{questao['pergunta']}}</ion-list-header>
        <section *ngFor="let alternativa of questao['alternativas']">
          <ion-item text-wrap>
            <ion-label>{{alternativa["nome"]}}</ion-label>
            <ion-checkbox formControlName="{{questao['tipo']+questao['ID']+'|'+alternativa['ID']}}"></ion-checkbox>
          </ion-item>
        </section>
      </ion-list>


      <ion-list *ngIf="questao['tipo'] == 'input'">
          <ion-item text-wrap>
            <ion-label floating>{{questao['pergunta']}}</ion-label>
            <ion-input formControlName="{{questao['tipo']+questao['ID']}}" type="text"></ion-input>
          </ion-item>
      </ion-list>

    </section>

    <br>

    <div padding *ngIf="payload.idStep == 0">
      <button ion-button block color="secondary" type="submit" (click)="proximoQuestionario()" >Proximo</button>
    </div>

    <div padding *ngIf="payload.idStep != 0">
      <button ion-button block color="secondary" type="submit" (click)="fimQuestionario()">Finalizar</button>
    </div>

  </form>

</ion-content>
