<ion-header>
  <ion-navbar>

    <!--    <ion-buttons left>-->
    <!--      <button ion-button (click)="perfil()">-->
    <!--        <ion-icon name="contact" style="zoom: 2.0"></ion-icon>-->
    <!--      </button>-->
    <!--    </ion-buttons>-->
    <img src="../../assets/icon/favicon.ico" />
    <ion-title>Olá {{usuario.nome_proprietario}}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="perfil()">
        <ion-icon name="contact" style="zoom: 2.2"></ion-icon>
      </button>
      <button ion-button (click)="exit()">
        <ion-icon name="exit" style="zoom: 2.2;"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>



  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="questoesGerais()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

  <div id="grafico" style="width:100%; height:50%; margin:5px;"></div>

  <ion-row *ngIf="ShowProgress == false">
    <ion-col>
      <h5>Você não respondeu ainda!</h5>
      <span class="text-wrap">Toque no icone <ion-icon name="create"></ion-icon> para começar a responder</span>
    </ion-col>
  </ion-row>

</ion-content>